/*arrival*/
	.arrival-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		form{
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
		}
	}

	.arrival-title {
		font-family: 'Oswald', sans-serif;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		h2 {
			font-size: 2.5rem;
			text-transform: uppercase;
			padding-bottom: 20px;
		}
		p {
			font-size: 1rem;
		}
	}

	fieldset {
		font-family: 'Oswald', sans-serif;
		padding: 0;
		margin: 0;
		border: none;
		width: 90%;
		display: flex;
		flex-flow: column nowrap;
	}

	.arrival-form input {
		font-family: 'Oswald', sans-serif;
		border: none;
		border-bottom: 1px white dashed;
		padding: 10px 0;
		text-indent: 10px;
		margin: 30px 0;
		width: 100%;
		font-size: 2rem;
		color: white;

		background: none;	}

	.arrival-form select {
		font-family: 'Oswald', sans-serif;
		border: none;
		border-bottom: 1px white dashed;
		padding: 5px;
		margin: 30px 0;
		width: 100%;
		font-size: 2rem;
		color: white;
		background: none;
	}

	.arrival-form select option {
		background: black;
		background-size: cover;
		background-position: center;
	}

	.arrival-button {
		cursor: pointer;
		transition: 1s;
		font-family: 'Oswald', sans-serif;
		width: 100%;
		padding: 30px;
		border: rgba(200,0,0,0.5) 2px solid;
		border-radius: 20px;
		font-size: 2rem;
		color: white;
		background: rgb(100,0,0);
		&:disabled{
			cursor: not-allowed;
			opacity: 0.3;
		}
		&:enabled{
			&:hover {
				transition: 1s;
				background: rgb(50,0,0);
			}
		}
	}

	//animation from _themes.scss
	input.ng-touched.ng-invalid, select.ng-touched.ng-pristine {
		animation: invalid-indicator 1.5s infinite;
	}