<div class="container">

<div class="nav-bar">
	<a [routerLink]="['/']">
	<div class="nav-mars">
		<div class="mars-planet">
			<img src="../images/dots.png" alt="" class="mars-surface">
		</div>
		<img src="../images/dust-clouds.png" alt="" class="mars-clouds">
	</div>
	</a>

	<h3 class="main-page-title">Mars Colony</h3>

</div>

<div class="arrival-container">

<form #arrivalForm="ngForm" name="arrivalForm" (ngSubmit)="onSubmit()">
	<fieldset class="arrival-form">
		<input [(ngModel)]="colonist.name" type="text" name="name" placeholder="Name" required>
		<input [(ngModel)]="colonist.age" type="number" name="age" placeholder="Age" required min="0">
		<select [(ngModel)]="colonist.job_id" name="job_id" id="occupation" required>
			<option value="(none)" disabled="" selected="">Select Your Occupation</option>
			<option *ngFor="let o of occupations" [value]="o.id">{{o.name}}</option>
		</select>
	</fieldset>
	<fieldset>
		<button type="submit" class="arrival-button" [disabled]="noOccupation || !arrivalForm.form.valid">Welcome To The Colony</button>
	</fieldset>
</form>
</div>

</div>