<div class="container">

<div class="loading" *ngIf="!encounters">
	<img class="loading_img" src="../../images/loading.gif" alt="">
</div>

<div class="nav-bar">
	<a [routerLink]="['/']">
	<div class="nav-mars">
		<div class="mars-planet">
			<img src="../images/dots.png" alt="" class="mars-surface">
		</div>
		<img src="../images/dust-clouds.png" alt="" class="mars-clouds">
	</div>
	</a>

	<h3 class="main-page-title">Mars Colony</h3>

</div>



<div class="encounter-container">
<div class="encounter-log">
	<h2 class="encounter-log-title">Colony Counter Log</h2>
	<ul class ="encounter-list">
		<li *ngFor="let e of (encounters | sortByDate) ">
			<h3>{{e.atype}}</h3>
			<p>[{{e.date}}]</p>
			<p>{{e.action}}</p>
		</li>
	</ul>
</div>
<form action="">
	<div class="report-link">
		<a [routerLink]="['/report']"><button class="report-link-button">Report an Encounter</button></a>
	</div>
</form>
</div>

</div>